{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "overrides": [
    {
      "files": [ "src/**/*.js" ],
      "rules": {
        "jsx-quotes": [ 1, "prefer-single" ]
      }
    }
  ]
}
